* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.inner {
    margin: 0 auto;
    width: 80%;
}



.clearfix::after {
    content: "";
    display: block;
    clear: both;
}




/* first start */




.first-main {
    background-color: rgb(68, 145, 146);
    /* height: 200px; */
    width: 100%;
    /* padding: 50px; */
}


nav {
    /* background-color:skyblue; */
    color: #fff;
    padding-top: 100px;
}

nav .fa {
    display: none;
}


nav h1 {
    background-color: #2a2a46;
    padding: 20px;
    position: relative;
    top: 20px;
    border-radius: 4px;
}

nav ul li {
    list-style: none;
}


.first-main h1 {
    float: left;
    font-size: 70px;
    opacity: 0.9;

}

nav ul {
    float: right;
}


ul li {
    float: left;
    margin-right: 20px;
    opacity: 0.8;
    /* padding-top: 50px; */
    margin-top: 50px;
    font-size: 20px;
    height: 30px;
    /* width: 50%; */
    background-color: blue;
}

ul li a {
    text-decoration: none;
    color: #fff;
    font-family: "Comfortaa", serif;
}


.active {
    background-color: black;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 3px;
    height: 100px;
    /* width: 50px; */
}


.active-1 {
    background-color: gray;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;

}




.second-main {
    /* height: 200px; */
    width: 80%;
    /* background-color:green; */
    margin-top: 70px;
    border-radius: 5px;
    border-color: rgb(63, 173, 175);
    border-style: solid;
    border-width: 2px;
}


.sec-left {
    float: left;
    /* background-color: blue; */
    width: 29%;
}

.sec-left img {
    width: 100%;
    margin-bottom: -4px;
}

.sec-right {
    float: right;
    /* background-color: blueviolet; */
    font-size: 30px;
    padding-left: 100px;
    padding-right: 200px;
    margin-top: 100px;
    width: 69%;

}





.third-main {
    width: 80%;
    /* background-color: blue; */
    margin-top: 80px;
    padding-bottom: 50px;
}


.box1 {
    float: left;
    /* border-radius: 0.5px;
    border-color: skyblue;
    border-width: 5px; */
    width: 20%;
    /* background-color: darkturquoise; */
    margin-right: 7%;
}

.box2 {
    float: left;
    width: 20%;
    /* background-color: darkgoldenrod; */
    margin-right: 6%;
}

.box3 {
    float: left;
    width: 20%;
    /* background-color: crimson; */
}

.box4 {
    float: right;
    width: 20%;
    /* background-color: blue; */
}

.third-main img {
    width: 100%;
    margin-bottom: -4px;
    border: 6px solid rgb(63, 173, 175);
    border-radius: 5px;
}


.bottom {
    margin-top: 30px;
}

.bottom h2 {
    margin-bottom: 10px;
    font-family: "Comfortaa", serif;
}












.fourth-main {

    /* background-color: lightblue; */
    width: 80%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-bottom: 50px;

}


.left h1 {
    height: 60px;
    width: 212px;
    background-color: #2a2a46;
    position: relative;
    top: -50px;
    font-family: "Comfortaa", serif;
    padding: 20px;
    height: 70px;
    color: #fff;
}




.left {
    float: left;
    width: 48%;
    /* background-color: chartreuse; */
    border: 6px solid rgb(63, 173, 175);
    border-radius: 5px;
    padding: 30px;
    color: black;


}


.left-1 {
    width: 23%;
    float: left;
    /* background-color: rgb(27, 200, 81); */
}

.left-1 img {
    width: 100%;

}


.left-2 {
    width: 70%;
    font-size: 20px;
    float: right;
    /* background-color: green; */
}


.left p {
    margin-top: 170px;

}


.right {
    float: right;
    width: 48%;
    /* background-color: rgb(206, 131, 19); */
    color: #fff;
    /* background-color: rgb(68,145,146); */
}


.upper {
    padding: 30px;
    border: 6px solid rgb(63, 173, 175);
    border-radius: 5px;
    background-color: rgb(68, 145, 146);
}

.upper h1 {

    /* height: 50px; */
    /* width: 10px; */
    text-align: center;
    background-color: #2a2a46;
    position: relative;
    top: -50px;
    padding: 20px;
    height: 70px;
    width: 182px;
    font-family: "Comfortaa", serif;

}

.upper h2 {
    margin-top: 20px;
    text-align: right;
}



.lower {
    padding: 30px;
    border: 6px solid rgb(63, 173, 175);
    border-radius: 5px;
    margin-top: 30px;
    background-color: rgb(68, 145, 146);
}


.lower-left {
    width: 40%;
    /* background-color: rgb(115, 16, 214); */
    float: left;
    position: relative;
    top: -20px;
    height: 255px;

}



.lower-right {
    width: 50%;
    margin-top: 40px;
    font-size: 20px;
    /* background-color: rgb(25, 18, 166); */
    float: right;
}

.lower-left img {
    position: relative;
    top: -30px;
    width: 120%;
}







footer{
    text-align: center;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: cadetblue;
    /* margin-bottom: 20px; */
    color: #fff;
}



.fleft{
    width: 63%;
    float: left;
    /* background-color: teal; */
    font-size: 20px;
    text-align: right;
    margin-top: 20px;
}


.fright{
    width: 15%;
    float:right;
    background-color: rgb(71, 107, 107);
    font-size: 30px;
    color: black;
    padding: 10px;
    

}

.fright .fa{
    padding-right: 10px;
    /* margin-left: 10px; */
    opacity: 0.2;
}

footer .inner{
    background-color: red;

}






@media only screen and (max-width:767px) {

    nav ul {
        display: none;
    }

    nav .fa {
        display: block;
        float: right;
        font-size: 50px;
        margin-top: 40px;
    }


    .sec-left {
        width: 100%;

    }


    .sec-right {
        width: 100%;
        text-align: right;
        padding-left: 0px;
        font-size:22px;
    }

    /* .sec-right h1{
        font-size:40px;
    } */

    .box1 {
        width: 100%;
        text-align: center;
    }

    .box2,
    .box3,
    .box4 {
        width: 100%;
        text-align: center;
        margin-top: 70px;
    }


    .left {
        width: 100%;
    }


    .right {
        width: 100%;
        margin-top: 90px;
    }

    .lower {
        height: 308px;
    }


    .lower-right{
        /* padding-bottom: 20px; */
        /* margin-bottom: 50px; */
       margin-top: 0px;
      
    }



    .inner{
        /* background-color: blue; */

    }

    .fleft{
        width: 50%;
    }

    
    .fright{
        width: 30%;
    }


   

}





@media only screen and (max-width:450px){


    .first-main h1{
        font-size: 33px;
    }

    .first-main .fa{
        font-size: 29px;
    }


    .sec-right{
        width: 100%;
        font-size: 25px;
        text-align: center;
        padding-right: 0px;
    }




    .fleft{
        width: 100%;
        /* margin-right: 60px; */
        padding-right: 20px;
    }

    .fright{
        width: 60%;
        margin-right: 60px;
        margin-top: 20px;
    }

    .left-2 h2{
        font-size: 23px;
    }



    .lower-right h2{
        font-size: 22px;
        /* display:none; */
        padding-top: 80px;

    }

    .lower-left, .lower-right{
        width: 100%;
    }


    .lower{
        height: 500px;

    }



    .lower-left img{
        width: 100%;
        border-bottom: 6px solid rgb(63, 173, 175);
        /* border-width: 500%; */
        /* padding-bottom: -5px; */
    }

    
}